.accordion.faq{
  .card{
    border: none;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    .card-header{
      padding: 0;
      border: none;
      background-color: transparent;
      border-radius: 0;
      .btn{
        text-transform: capitalize;
        border-radius: 0;
        background-color: transparent;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        padding: 15px 0;
        border: none;
        img{
          transition: all 0.3s ease;
        }
        &:hover, &:focus{
          background-color: transparent !important;
        }
        &.not-collapsed{
          img{
            transform: rotate(45deg);
          }
        }
      }
    }
    .card-body{
      padding: 0px 0 20px 0;
    }
  }
}